<%= simple_form_for post.comments.build, url: post_comments_path(post), html: { class: "w-full mt-2.5" } do |f| %>
  <div class="flex">
    <%= image_tag avatar_for(current_user, 32), class: "inline object-cover w-8 h-8 mr-1.5 border rounded-full" %>
    <%= f.text_field :body,
                      required: true,
                      placeholder: "Write a comment...",
                      class: "w-full text-base text-secondarygray px-4 rounded-2xl bg-gray-100" %>
  </div>
<% end %>