<%= simple_form_for @user do |f| %>
  <%= f.error :avatar, class: "absolute z-10 w-max bottom-4 inset-x-0 mx-auto text-red-500 font-semibold" %>
  <label class="cursor-pointer">
    <%= image_tag avatar_for(current_user, 176), class: "absolute mx-auto inset-x-0 -bottom-6 object-cover w-44 h-44 border-4 border-white rounded-full" %>
    <span class="hidden">
      <%= f.file_field :avatar, onchange: "form.submit()" %>
    </span>
  </label>
<% end %>