<%= simple_form_for @user do |f| %>
  <div class="absolute bottom-4 right-8">
    <%= f.error :cover_photo, class: "text-red-500 font-semibold" %>
    <div class="w-max ml-auto px-3 py-1.5 bg-white text-base text-black font-semibold rounded-lg cursor-pointer hover:bg-gray-200">
      <svg class="inline w-5 h-5 mb-1 mr-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
        <g><g><path d="M500,402c-81.2,0-147,65.9-147,147s65.8,147,147,147c81.1,0,147-65.9,147-147S581.1,402,500,402L500,402z M892,255H774.4c-16.2,0-33.6-12.5-38.7-27.9l-30.4-91.2c-5.1-15.3-22.5-27.9-38.7-27.9H333.4c-16.2,0-33.6,12.5-38.7,27.8l-30.5,91.2c-5.1,15.4-22.5,27.9-38.7,27.9H108c-53.9,0-98,44.1-98,98v441c0,53.9,44.1,98,98,98h784c53.9,0,98-44.1,98-98V353C990,299.1,945.9,255,892,255z M500,794c-135.3,0-245-109.7-245-245s109.7-245,245-245c135.3,0,245,109.7,245,245S635.3,794,500,794z M867.5,411.8c-19,0-34.3-15.4-34.3-34.3c0-18.9,15.3-34.3,34.3-34.3s34.3,15.4,34.3,34.3C901.8,396.4,886.5,411.8,867.5,411.8z"/></g></g>
      </svg>
      <label class="cursor-pointer">Add Cover Photo
        <span class="hidden">
          <%= f.file_field :cover_photo, accept: 'image/jpg, image/jpeg, image/png', onchange: "form.submit()" %>
        </span>
      </label>
    </div>
  </div>
<% end %>