<div class="dropdown inline-block relative">
  <%= pluralize(current_user.mutual_friends_with(user).count, "mutual friend") %>
  <ul class="dropdown-menu hidden absolute overflow-visible w-max py-2 bg-black opacity-80 rounded-lg border shadow-xl">
    <% current_user.mutual_friends_with(user).each do |friend| %>
      <li class="rounded-t text-xs text-white px-2 block whitespace-no-wrap">
        <%= friend.fullname %>
      </li>
    <% end %>
  </ul>
</div>