<div class="h-screen overflow-x-hidden">
  <div class="fixed z-10 flex flex-col w-1/6 min-h-screen mr-auto mt-14 pt-3 bg-white shadow">
    <h1 class="mx-2 px-2 text-2xl text-black font-bold">Friends</h1>
    <% if current_user.friend_requests.where.not(user_id: current_user.id).any? %>
      <%= render 'received_friend_requests' %>
    <% end %>

    <hr class="mx-4 my-2.5 border-gray-300">

    <% if @users.any? %>
      <%= render 'people_you_may_know' %>
    <% end %>
  </div>

  <div id="profile-section" class="flex-1 ml-40 -mr-40 bg-lgray h-screen w-screen">
  </div>
</div>
