<div class="min-h-screen flex pt-16">
  <div class="flex flex-col w-1/6 mr-auto">
    <h1 class="mx-2 px-2 text-2xl text-black font-bold">Friends</h1>
    <% if current_user.friend_requests.where.not(user_id: current_user.id).any? %>
      <%= render 'received_friend_requests' %>
    <% end %>

    <hr class="mx-4 my-2.5 border-gray-300">

    <% if @users.any? %>
      <%= render 'people_you_may_know' %>
    <% end %>
  </div>

  <div class="flex-1 bg-red-300">
    Profile
  </div>
</div>
