@import "tailwindcss/base";
@import "tailwindcss/components";

.dropdown:hover .dropdown-menu {
  display: block;
}

select {
  background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="18" height="18" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/></svg>');
  background-position: 98% center;
  background-repeat: no-repeat;
}

@import "tailwindcss/utilities";

