<div class="pb-4">
  <img class="inline object-cover w-10 h-10 mr-2.5 rounded-full" src="https://scontent-fco1-1.xx.fbcdn.net/v/t1.30497-1/cp0/c12.0.40.40a/p40x40/84241059_189132118950875_4138507100605120512_n.jpg?_nc_cat=1&ccb=2&_nc_sid=7206a8&_nc_ohc=02k-Raa85_sAX88_QOT&_nc_ht=scontent-fco1-1.xx&tp=27&oh=6ab026268e92ba2c2231e4af6fb4ebd4&oe=5FEEEF9E" alt="Profile image"/>
  <div class="inline text-base font-semibold">
    <%= current_user.firstname + ' ' + current_user.lastname %>
  </div>
</div>
<div class="w-full ">
  <%= simple_form_for @post do |f| %>
    <%# f.error_notification %>
    <%# f.error :base %>
    <%= f.input :body,
                label: false,
                required: true,
                input_html: { placeholder: "What's on your mind, #{current_user.firstname}?",
                              rows: 5,
                              class: 'w-full text-2xl bg-white resize-none overflow-y-auto' } %>
    <%= f.button :submit, f.object.new_record? ? "Post" : "Save", class: "flex w-full items-center justify-center focus:outline-none text-white text-sm font-semibold bg-lblue hover:bg-bluehover rounded-md py-2 transition duration-150 ease-in" %>
  <% end %>
</div>



