<div class="min-h-screen w-full pt-20 inset-0 flex justify-center items-center bg-lgray">
  <div class="bg-white rounded-lg shadow-lg w-125">
    <div class="relative flex justify-center items-center h-14 border-b mx-4">
      <span class="font-semibold text-xl">Create Post</span>
      <%= link_to :back, class: "absolute right-0 flex items-center justify-center py-2 px-2 rounded-full text-black bg-gray-200 hover:bg-gray-300" do %>
        <svg class="w-6 h-6 fill-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      <% end %>
    </div>
    <div class="p-4">
      <%= render 'form' %>
    </div>
  </div>
</div>
