<div class="min-h-screen flex flex-col pt-20 bg-lgray">
  <div class="w-1/3 mx-auto">
    <%= render 'posts/whats_on_your_mind_card' %>
  </div>
  
  <div class="w-1/3 mx-auto">
    <%= render 'posts/news_feed' %>
  </div>
</div>